

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss"; 


@theme{
    --font-urbanist : "Urbanist", sans-serif;
    --color-gray-08: #141414;
    --color-gray-10: #1A1A1A;
    --color-gray-15: #262626;
    --color-gray-30: #4D4D4D;
    --color-gray-60: #999999;
    --color-purple-60: #703BF7;
    --shadow-thick-grey: 0px 0px 0px 8px #191919;
    --shadow-medium-grey: 0px 0px 0px 6px #191919;
    --shadow-thin-grey: 0px 0px 0px 4px #191919;

}

@layer base {
  body {
    font-family: var(--font-urbanist);
  }
}

