

@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss"; 

@import "swiper/css";
@import "swiper/css/navigation";

@custom-variant dark (&:where(.dark, .dark *));


@theme{
    --font-urbanist : "Urbanist", sans-serif;
    --color-gray-08: #141414;
    --color-gray-10: #1A1A1A;
    --color-gray-15: #262626;
    --color-gray-30: #4D4D4D;
    --color-gray-40: #666666;
    --color-gray-60: #999999;
    --color-purple-60: #703BF7;
    --shadow-thick-grey: 0px 0px 0px 8px #191919;
    --shadow-medium-grey: 0px 0px 0px 6px #191919;
    --shadow-thin-grey: 0px 0px 0px 4px #191919;
/* light mode */

      /* text */
      --color-Jet-Gray: #3e3e42;
      /* border card */
      --color-Silver: #c0c0c0;
      /* navbar footer buttons */
      --color-Platinum: #e8e8e8;
      /* main background*/
      --color-Alice-Blue: #f0f4f7;
      /* purple button */
         /* bg */
      --color-Indigo: #4f46e5;
         /* border */
      --color-Royal-Indigo: #3730a3;
}


@keyframes fadeOut {
  from { opacity: 1; }
  to { opacity: 0; visibility: hidden; }
}

@keyframes zoomIn {
  from { opacity: 0; transform: scale(0.5); }
  to { opacity: 1; transform: scale(1); }
}

@layer base {
  body {
    font-family: var(--font-urbanist);
  }
}

